# Googling how to do something is NOT cheating. 
# Googling how to do figure something out is ENCOURAGED.

## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [4]:
from datetime import datetime
now = datetime.now()
print(now.strftime("%Y-%m-%d %H:%M:%S"))

2024-08-23 21:23:10

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [6]:
from math import pi

def areaCircle(radius):
	return pi * (radius * radius)

## #3 Write a function that takes a list of numbers and returns True if all number in the list are unique and returns False if the list contains duplicate numbers.
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [11]:
def containsDups(lst):
	return len(lst) == len(set(lst))
# 3N/2N
input_list = [2,4,5,5,7,9]
containsDups(input_list)

def containsDups(lst):
	comp_list = set()
	for num in lst:
		if num in comp_list:
			return False
		else:
			comp_list.add(num)
# N+2/2N
input_list = [2,4,5,5,7,9]
containsDups(input_list)

False

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, '—': 1}`

In [27]:
chars = {}
with open('data/lil-wayne.txt', 'r') as f:
	for line in f.readlines():
		for char in line:
			if char.upper() in chars:
				chars[char.upper()] += 1
			else:
				chars[char.upper()] = 1
	print(chars)

{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, 'Â': 1, '€': 1, '”': 1}

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

In [34]:
# print(chars.items())

#lambda
print(sorted(chars.items(), key=lambda x: x[1], reverse=True))
# sorted takes an iterable (list, tuple, dict, set are all iterables) and sorts them in ascending order
# chars.items() gives a list of tuples of all the key value pairs, and sorted will iterate through this list
# key lets you specify a specific function to be applied to extract the comparison key from the iterable
# since it requires a function, we create a lambda function that takes in the tuple x, and outputs x[1], the value of the pair

[(' ', 522), ('E', 274), ('A', 211), ('I', 185), ('T', 180), ('N', 165), ('R', 152), ('S', 152), ('O', 145), ('L', 126), ('H', 122), ('M', 77), ('D', 74), ('U', 66), ('W', 63), ('C', 60), ('B', 59), ('G', 53), ('Y', 44), ('F', 44), ('P', 39), (',', 37), ('0', 36), ('1', 28), ('.', 26), ('2', 24), ('V', 20), ('9', 16), ('[', 14), (']', 14), ('K', 13), ('(', 12), (')', 12), ('J', 8), ('7', 7), ('8', 6), ('\n', 6), ('-', 6), ('X', 5), ('5', 5), ('4', 4), ('6', 3), ('3', 2), (';', 1), ('!', 1), ('Â', 1), ('€', 1), ('”', 1)]

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [42]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]
list1.append(list1[-1] * list1.pop(3))
list1

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [43]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
print([num for num in original_list if num % 3 == 0])

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [45]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
original_list.reverse()
original_list

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [46]:
original_list = [1, 2, 3, 4, 5, 6, 7]
print([num*num for num in original_list])

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [47]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for n1, n2 in zip(list1, list2.__reversed__()):
	print(n1, n2)

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [49]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']
print([string for string in list_of_strings if string != ''])

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [51]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}
print(999 in sample_dict.values())

True

# #12 Fix all the follow broken code snippets below
(I got these examples from a great website, I will reference them later because they have the answers on them.)

In [53]:
greeting = "Hello, possible pirate! What's the password?"
password = 'admin'
message = greeting+password
if message in ["Arrr!"]:
	print("Go away, pirate.")
else:
	print("Greetings, hater of pirates!")

Greetings, hater of pirates!

In [55]:
pages = 457
word_per_page = 250
number_of_pieces = 100

each_chunk = (457 * 250)/10
print(each_chunk)

11425.0

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [106]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/titanic.csv')
df

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [97]:
df['age'].sum()/df['age'].count()

29.69911764705882

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [99]:
sum = 0
count = 0
for index, row in df.loc[:, ['age']].iterrows():
	if not np.isnan(row['age']):
		sum += row['age']
		count += 1

sum / count


# we learn that DataFrame functions like sum() and count() ignore nans

29.69911764705882

## What was the oldest and youngest ages on the titanic?

In [101]:
min(df.age) # that cant be correct

0.42

In [105]:
print(df['age'].min(), df['age'].max()) # it is?

0.42 80.0

## How many people embarked from station 'S'?

In [109]:
df['embarked'].value_counts()['S']

644